.box{
    border:1px solid black;
    padding:20px;
    margin:10px 50px 10px 50px;
    overflow: hidden;
}


.sample-img{
    position: relative;
    animation:ImageSlide 8s infinite;
}

@keyframes ImageSlide{
    0%{
       left:0%;
    }

    50%{
        left:50%;
    }

    100%{
        left:100%;
    }
}